## 4. Cadenas, listas, diccionarios y conjuntos

### 1° Parte. Cadenas

**Ejercicio 1.** Escribir una función que recibe una cadena de caracteres y devuelve el número de letras `a` que hay en la cadena recibida.

*Ejemplo.*


```
contar_a('sdaeraad') # devuelve 3
contar_a('sdf ghhj aaa uiio abab') # devuelve 5
```

In [2]:
# Solución
def contar_a(cadena: str) -> int:
    contador = 0
    for letra in cadena:
        if letra == "a":
            contador += 1
    return contador

In [1]:
# Pruebas
print(contar_a('sdaeraad')) #  3
print(contar_a('sdf ghhj aaa uiio abab'))  # 5

3
5

**Ejercicio 2.**
Escribir una función como la anterior, solo que cuenta todas las `a` mayúsculas y minúsculas.

In [11]:
# Solución
def contar_a_A(cadena: str) -> int:
    """
    pre: cadena es una cadena de caracteres
    post: devuelve la cantidad de letras 'a' y 'A' en la cadena
    """
    contador = 0
    for letra in cadena:
        if letra == "a" or letra == "A":
            contador += 1
    return contador

In [12]:
# Pruebas
print(contar_a_A('sdaeraad')) #  3
print(contar_a_A('sdf ghhj aaa uiio abab'))  # 5
print(contar_a_A('sdaAeraad')) #  4
print(contar_a_A('sdf ghhj aAaAa uiio abab'))  # 7

3
5
4
7

**Ejercicio 3.** Definir la función `contar_a_b_c()` que recibe una cadena de caracteres y devuelve 3 números. El primero de esos números es el número de letras `a`, el segundo es el número de letras `b` y el tercero es el número de letras `c`.



*Ejemplo.*
```
contar_abc('sdaerbaccad')
```
devuelve
```
3, 1, 2
```

In [18]:
# Solución
def contar_a_b_c(cadena: str) -> int:
    """
    pre: cadena es una cadena de caracteres
    post: devuelve la cantidad de letras 'a', 'b' y 'c', respectivamente,  en la cadena
    """
    assert type(cadena) == str, "el parámetro debe ser una cadena de caracteres"
    contador_a, contador_b, contador_c = 0, 0 , 0
    for letra in cadena:
        if letra == "a":
            contador_a += 1
        elif letra == "b":
            contador_b += 1
        elif letra == "c":
            contador_c += 1
    return contador_a, contador_b, contador_c

In [21]:
# Pruebas
print(contar_a_b_c('sdaeraad')) #  (3, 0, 0)
print(contar_a_b_c('cadena es una cadena de caracteres'))  # (7, 0, 4)
print(contar_a_b_c("el parámetro debe ser una cadena de caracteres")) #  (6, 1, 3)

(3, 0, 0)
(7, 0, 4)
(6, 1, 3)

**Ejercicio 4.**  Igual que el anterior, pero ahora definir la función `contar_aA_bB_cC()` donde se se cuentan las `a` junto con las `A`, las `b` junto con `B` y las `c` junto con `C`.

*Ejemplo.*
```
contar_aA_bB_cC()('arstABbcqqCaccbbb')
```
devuelve
```
3, 5, 4
```

In [24]:
# Solución
def contar_aA_bB_cC(cadena: str) -> int:
    """
    pre: cadena es una cadena de caracteres
    post: devuelve la cantidad de letras 'a', 'b' y 'c', mayúsculas o minúsculas respectivamente,  en la cadena
    """
    assert type(cadena) == str, "el parámetro debe ser una cadena de caracteres"
    contador_a, contador_b, contador_c = 0, 0 , 0
    for letra in cadena:
        if letra == "a" or letra == "A":
            contador_a += 1
        elif letra == "b" or letra == "B":
            contador_b += 1
        elif letra == "c" or letra == "C":
            contador_c += 1
    return contador_a, contador_b, contador_c

In [28]:
# Pruebas
print(contar_aA_bB_cC('arstABbcqqCaccbbb')) # (3, 5, 4)
print(contar_aA_bB_cC('Cadena es una cadena de caracteres')) # (7, 0, 4)

(3, 5, 4)
(7, 0, 4)

**Ejercicio 5.** Definir una función que recibe 3 números enteros no negativos y devuelve una cadena de caracteres con tantas `a` como dice el primer número de la lista, tantas `b` como dice el segundo y tantas `c` como dice el tercero.
*Ejemplo.*
```
numeros_cadena(3, 5, 4)
```
devuelve
```
aaabbbbbcccc
```

In [ ]:
def numeros_cadena(n1,n2,n3: int) -> str:
  a = "a"*n1
  b = "b"*n2
  c = "c"*n3
  return a + b +c

In [ ]:
numeros_cadena(3, 5, 4)

'aaabbbbbcccc'

**Ejercicio 6.** Definir una función que recibe una cadena de caracteres con letras `a`, `b` y `c`, minúsculas o mayúsculas, y devuelve una permutación *ordenada* de esa cadena. Por ejemplo, si recibe `aABbcCaccbbb` devuelve `aaabbbbbcccc`. Debería poder hacerse en pocas líneas combinando las soluciones a los ejercicios 4 y 5.

*Observación.* Si una función devuelve múltiples valores, podemos recuperar estos valores con una asignación múltiple. Por ejemplo, con la notación del  enunciado del ejercicio 4, si hacemos
```
na, nb, nc = contar_aAbBcC('aABbcCaccbbb')
```
obtenemos que  `na` vale 3,  `nb` vale 5 y `nc` vale 4.

### 2° Parte. Listas

**Ejercicio 1.** Escribir las sentencias necesarias para hacer lo siguiente:

1. Crear una lista con 10 valores booleanos falsos.
2. Asignar el valor `5.5` al último elemento de una lista.
3. Mostrar la suma de los dos primeros elementos de una lista.
4. Calcular la suma de los cinco primeros elementos de la lista.
5. Encuentrar el elemento mínimo de una lista numérica (sin usar `min`).
6. Generar aleatoriamente un índice y mostrar el elemento de este índice en la lista.

In [ ]:
# 1.1
print([False] * 10)
lista = [False] * 10
# 1.2
lista[-1] = 5.5
lista[len(lista) - 1]
print(lista)
# 1.3
def sum2(lista):
    return lista[0] + lista[1]
print(sum2([1,-22,3]))
# 1.4

# 1.5
print(min([1,-22,3])) # minimo de la lista
print(sum([1,-22,3])) # suma los elementos de la lista
# 1.6
from random import randint
lista = []
for _ in range(20):
    lista.append(randint(1, 100))
print(lista)
indice = randint(0, 19)
print(indice, lista[indice])

[False, False, False, False, False, False, False, False, False, False]
[False, False, False, False, False, False, False, False, False, 5.5]
-21
-22
-18
[92, 39, 100, 39, 2, 72, 98, 52, 67, 88, 1, 41, 66, 93, 71, 3, 51, 95, 47, 49]
10 1

**Ejercicio 2.** Predecir y explicar el porqué del comportamiento de cada uno de los siguentes programas.

In [ ]:
def main():
    numero = 0
    numeros = [10]
    m(numero, numeros)
    print("numero es", numero, "y numeros[0] es", numeros[0])

def m(x, y):
    x = 3
    y[0] = 3

main()

numero es 0 y numeros[0] es 3

In [ ]:
def main():
    lst = [1, 2, 3, 4, 5]
    reverse(lst) # da vuelta la lista
    for value in lst:
        # print(lst[value-1])
        print(lst[value-1], end = ' ')

def reverse(lst):
    newLst = len(lst) * [0]
    for i in range(len(lst)):
        newLst[i] = lst[len(lst) - 1 - i]
    lst = newLst
    print(lst)

main()

[5, 4, 3, 2, 1]
1 2 3 4 5

In [ ]:
def main():
    list1 = m(1)
    print(list1)
    list2 = m(1)
    print(list2)

def m(x, lst = [1, 1, 2, 3]):
    if x in lst:
        lst.remove(x)
    return lst

main()

[1, 2, 3]
[2, 3]

In [ ]:
def main():
    list1 = m(1)
    print(list1)
    list2 = m(1)
    print(list2)

def m(x, lst = None):
    if lst == None:
        lst = [1, 1, 2, 3]
    if x in lst:
        print(x)
        lst.remove(x)
    return lst

main()

1
[1, 2, 3]
1
[1, 2, 3]

**Ejercicio 3.**
Definir una función que dado un número natural `n >= 2` devuelve la lista de todos los números primos entre `2` y `n-1`. Pueden usar que `list(range(2,n))` es la lista de todos los números entre `2` y `n-1`.

In [ ]:
def es_primo(n):
    ret = True
    for i in range(2, n):
        if n % i == 0:
            ret = False
    return ret

def lista_primos_hasta(n):
    ret = []

    return ret

**Ejercicio 4.** Escribir una función que recibe una lista y dos posiciones de la lista e intercambia los valores que hay en esas posiciones. No lleva `return` porque modifica la propia lista que recibe como parámetro. Acá podemos usar el `assert` para asegurarnos que las posiciones pertenezcan a la lista.

In [ ]:
def intercambia(lista: list, i, j: int):
    """
    pre: 0 <= i , j < len(lista)
    pos: intercambia lista[i] con lista[j]
    """
    assert type(lista) == list and type(i) == int and type(j) == int,'el primer parámetro debe ser tipo lista, los dos parámetros siguientes deben ser int'
    assert 0 <= i < len(lista) and 0 <= j < len(lista)
    lista[i], lista[j] = lista[j], lista[i]

lista = [1,2,3,4,5]

print(intercambia(lista, 1, 4))
print(lista)

None
[1, 5, 3, 4, 2]

**Ejercicio 5.** Escribir una función que  dado un elemento, devuelve la posición que ese elemento tiene en la lista. Si el elemento no está en la lista devuelve `-1`.

In [ ]:
def pos(x, list: list) -> int:
  devuelve = -1
  for k in range(len(list)):
    if list[k] == x:
      devuelve = k
  return devuelve

In [ ]:
pos(6, [1,2,3,4,5])

-1

**Ejercicio 6.** Escribir una función que devuelve el menor elemento de la lista a partir de un cierto índice: esta función recibe la lista y un índice de la lista y devuelve el menor elemento desde ese índice en adelante.

In [ ]:
def menor_elem(j:int,lista:list) -> int:
  minimo = lista[j]
  for k in range(j,len(lista)):
    if lista[k] <= lista [j]:
      minimo = lista[k]
      lista[j] = lista[k]
  return minimo

In [ ]:
menor_elem(3,[6,2,8,4,5,1,7,3,9])

1

**Ejercicio 7.** Igual que el ejercicio anterior pero devuelve la posición de ese elemento.

<a name="ej08">**Ejercicio 8.**</a>  Escribir la función `contar_letras()`que recibe una cadena de caracteres y devuelve una lista de 26 números. El primero de esos números (el que se encuentra en la posición 0 de la lista) es el número de letras `a`. El segundo es el número de letras `b`, etc. El último, es el número de letras `z`.

*Observación.* La posición 0 de la lista que se devuelve corresponde a la letra `a`, la posición 1 corresponde a la letra `b`, etc.

En general las posiciones de las letras está dadas por
```
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
```

*Ejemplo.*
```
contar_letras('sdaeraad') = [3, 0, 0, 2, 1, 0, ...]
```

<a name="ej09">**Ejercicio 9.**</a> Definir una función que recibe una lista de 26 números y devuelve una cadena de caracteres con tantas `a` como dice el primer número de la lista, tantas `b` como dice el segundo, etc.

**Ejercicio 10.** Definir una función que recibe una cadena de caracteres y devuelve una permutación *ordenada* de esa cadena. Por ejemplo, si recibe `abracadabra, pata de cabra` devuelve `aaaaaaaaabbbccddeprrrt`. Debería poder hacerse combinando las soluciones a los ejercicios [8](#ej1) y [9](#ej9).

### 3° Parte. Diccionarios y conjuntos

**Ejercicio 1.**  Usá un diccionario para almacenar información sobre una persona que conocés.
Guardá su nombre, apellido, edad y la ciudad en la que vive. Debe tener claves como `nombre`, `apellido`, `edad` y `ciudad`. Imprimir cada campo del diccionario.

In [ ]:
d ={"nombre": "Javier", "apellido": "Lezama", "edad": 41, "ciudad": "Córdoba"}
print(d)

{'nombre': 'Javier', 'apellido': 'Lezama', 'edad': 41, 'ciudad': 'Córdoba'}

**Ejercicio 2.**  Usar un diccionario para almacenar el equipo de fútbol preferido de las personas.
Pensá en cinco nombres y utilízalos como claves en tu diccionario. Por cada persona almacená el equipo de fútbol  como un valor en su diccionario (si no la conocés, inventalo).

Imprimí el nombre de cada persona y su el equipo de fútbol favorito.

**Ejercicio 3.** Glosario: se puede utilizar un diccionario de Python para modelar un diccionario real.
Sin embargo, para evitar confusiones, llamémoslo glosario.
- Pensá en cinco palabras de programación que hayas aprendido en las lecciones anteriores. Utilizá estas palabras como claves en tu glosario y almacená sus
significados como valores.
- Imprimí cada palabra y su significado como una salida con un formato prolijo. Se podría imprimir la palabra seguida de dos puntos y luego su significado, o imprimir la palabra en una línea y luego imprimir su significado con sangría en una segunda línea. Utilizá el carácter de nueva línea (`\n`) para insertar una línea en blanco entre el significado de cada palabra y la palabra siguiente.

In [ ]:
glosario = {} # equivalentemente, glosario = dict()
glosario['lista'] = 'aaaa bbbb ccc'
glosario['cadena'] = 'dsafAS SDVSD agfdg'
glosario['in'] = 'sdf gyjjtj jh'

In [ ]:
for palabra in glosario:
    print(palabra + ': ' + glosario[palabra])

lista: aaaa bbbb ccc
cadena: dsafAS SDVSD agfdg
in: sdf gyjjtj jh

In [ ]:
for palabra in glosario:
    print(palabra + '\n\t' + glosario[palabra])

lista
	aaaa bbbb ccc
cadena
	dsafAS SDVSD agfdg
in
	sdf gyjjtj jh

**Ejercicio 4.**  Ríos: hacé un diccionario que contenga tres ríos y el país que atraviesa cada río. Un par clave-valor podría ser `nilo`: `egipto` (aunque el Nilo  pasa por varios paises).
- Usá un bucle para imprimir una oración sobre cada río, como *El Nilo corre
a través de Egipto* (esta cadenas no están en el diccionario).
-  Utilizá un bucle para imprimir el nombre de cada río incluido en el diccionario.
- Utilizá un bucle para imprimir el nombre de cada país incluido en el diccionario.

**Ejercicio 5.** Personas: comenzá con el programa que escribiste para el ejercicio 1. Creá dos nuevos diccionarios que representen a diferentes personas y almacená los tres diccionarios en una lista llamada `personas`.

Recorré la lista de personas.

Mientras vayas recorriendo  la lista, imprimí todo lo que sepa sobre cada persona.

**Ejercicio 6.** Lista de diccionarios. Hacé varios diccionarios, donde cada diccionario represente una mascota diferente. En cada diccionario, incluí el tipo de animal y el nombre del propietario.

Guardá estos diccionarios en una lista llamada `mascotas`. A continuación, recorré tu lista y e imprimí todo lo que sabés sobre cada mascota.

**Ejercicio 7.** Lugares favoritos. Creá un diccionario llamado `lugares_favoritos`. Pensá en tres nombres de personas para usar como claves en el diccionario y almacená de uno a tres lugares favoritos por cada persona.

Recorré el diccionario e imprimí el nombre de cada persona y sus lugares favoritos.

**Ejercicio 8.** Modificá su programa del ejercicio 2 para que cada persona pueda tener más de un equipo favorito (sí, eso puede ocurrir...). Luego imprimí el nombre de cada persona junto  su/sus equipo/s favorito/s.

**Ejercicio 9.** Diccionario de diccionarios.  Hacé un diccionario llamado `ciudades`. Utilizá los nombres de tres ciudades como claves en tu diccionario. Por cada ciudad, creá un diccionario de información sobre ella que incluya el país en el que se encuentra, su población aproximada y un hecho relevante sobre esa ciudad.

Las claves del diccionario de cada ciudad deberían ser algo así como
`país`, `población` y `hecho`.

Imprimí  el nombre de cada ciudad y toda la información información que ha almacenado sobre ella.

**Ejercicio 10.**
<ol type="a">
  <li>Escribir una función que tome dos conjuntos como parámetros y devuelva su unión.</li>
  <li>Escribir una función que tome dos conjuntos como parámetros y devuelva su intersección.</li>
  <li>Escribir una función que tome un conjunto y un elemento como parámetros, y agregue ese elemento al conjunto.</li>
  <li>Escribir una función que tome una lista de conjuntos como parámetro y devuelva la intersección de todos ellos.</li>
</ol>

**Ejercicio 11.**

<ol type="a">
  <li>Escribir una función que tome una lista y un conjunto como parámetros, y verifique si todos los elementos de la lista están presentes en el conjunto.</li>
  <li>Escribir una función que tome una lista como parámetro y devuelva una nueva lista sin elementos duplicados, utilizando conjuntos.</li>
</ol>

In [ ]:
def sub(lista: list, conjunto: set):
    ret = True
    for elem in lista:
        if elem not in conjunto:
            ret = False
    return ret

sub(["a","b","c","d"], {"a","b","c","d"})

True

**Ejercicio 12.** El número que tiene la mayor frecuencia en una serie se conoce como la *moda* de la serie. La moda es el valor que aparece con mayor frecuencia o repetición en un conjunto de datos. En otras palabras, es el número que se repite más veces en la serie.

Por ejemplo, en la serie $\{2, 4, 4, 6, 6, 6, 8\}$, el número $6$ es la moda, ya que se repite más veces que cualquier otro número en la serie.

Es importante tener en cuenta que una serie puede tener múltiples modas si varios números tienen la misma frecuencia máxima. En tal caso, se dice que la serie tiene *múltiples modas.*

Escribir la función `moda()` que devuelva la moda de una lista de números enteros. Si hay múltiples módas devuelve alguna de ellas.

Solo se permite,  a nivel de operaciónes, métodos o funciones en listas, acceder para leer o modificar los elementos de una lista por el índice. En el caso de diccionarios acceder para leer o modificar a elementos por su clave. No está permitido utilizar  `max()`, `sorted()` o métodos similares.

Para implementar la función `moda()` puede seguir los siguientes pasos:

1. Hacer un diccionario donde las claves son los elementos de la lista y los valores son la cantidad de repeticiones de cada elemento en la lista.
2. Encontrar y devolver una de las claves del diccionario cuyo valor sea máximo.

### 4° Parte. Definiciones por comprensión

**Ejercicio 1.**  Crear una lista con los números impares entre 50 y 100.

In [ ]:
list = [i for i in range(50,100) if i%2 !=0]

In [ ]:
list

[51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

**Ejercicio 2.**  Crear una lista de los nombres de las personas en una lista dada que tienen más de 4 caracteres.

In [ ]:
nombres = ["Juan", "María", "Pedro", "Ana", "Pablo", "Gabriel"]
nombres_largos = [k for k in nombres if len(k)>=5] # reemplazar [] por una lista por comprensión

In [ ]:
nombres_largos

['María', 'Pedro', 'Pablo', 'Gabriel']

**Ejercicio 3.** Crear una lista de las palabras en una cadena dada que tienen más de 3 letras.

In [ ]:
cadena = "Hola mundo, esto es una cadena de prueba"
palabras = cadena.split() # crea una lista con cada una de las palabras
palabras_largas = [] # reemplazar [] por una lista por comprensión

**Ejercicio 4.**  Crear un diccionario a partir de una lista de tuplas, donde la clave es el primer elemento de la tupla y el valor es el segundo elemento.

In [ ]:
lista_tuplas = [(1, "uno"), (2, "dos"), (3, "tres")]
diccionario = {} # reemplazar {} por un diccionario por comprensión

**Ejercicio 5.** Crear un diccionario a partir de dos listas de igual longitud, donde la clave es el elemento de la primera lista y el valor es el elemento correspondiente de la segunda lista.

In [ ]:
keys = ["nombre", "edad", "ciudad"]
values = ["Juan", 25, "Madrid"]
diccionario = {} # reemplazar {} por un diccionario por comprensión

**Ejercicio 6.** Crear una lista de los números pares y los números impares de 1 a 10, donde los números pares son multiplicados por 2 y los impares son multiplicados por 3.

**Ejercicio 7.** Crear una lista de los nombres de una lista dada donde los nombres que comienzan por `A` son reemplazados por `Nombre empieza por A` y los demás nombres por `Nombre no empieza por A`.

In [ ]:
nombres = ["Ana", "Pedro", "Luis", "Alberto"]
resultado = [] # reemplazar [] por una lista por comprensión

**Ejercicio 8 (pivotear).** Dada una lista de números (enteros o punto flotante)  y un número `x` de la lista,  *pivotear la lista por `x`* es reorganizar los elementos de la lista de manera que todos los elementos menores o iguales a `x` estén a la izquierda de `x` y todos los elementos mayores a `x` estén a la derecha de `x`.

Por  ejemplo, dada la lista

    [6, 3, 5, 4, 8, 7, 6, 5, 2, 3]
    
La lista pivoteada por `4` resultaría

    [2, 3, 3, 4, 5, 6, 8, 7, 6, 5]

Obviamente, puede haber más de una forma de pivotear la lista.

Dada la lista `lista_num`, usando listas por comprensión construya una lista que es la original pivoteada por el primer elemento. Va a ser necesario hacer más de una lista por comprensión.

In [ ]:
# Esta celda nos prermite hacer tests
from random import randint
lista_num = [randint(1,20) for _ in range(10)] # lista de 10 números enteros al azar de 1 a 20
print(lista_num)

[5, 14, 10, 18, 13, 11, 9, 17, 19, 11]

In [ ]:
pivoteada = [x for x in lista_num if x < 11] + [11] + [x for x in lista_num if x > 11]
print(pivoteada)

[5, 10, 9, 11, 14, 18, 13, 17, 19]